<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Criação de Oficinas</title>
    </head>
    <body>
        <form asp-action="GravarOficina" method="post">
            <div class="form-group">
                <label >Nome: </label>
                <input type="text" class="form-control" name="txtNome" placeholder="Digite um nome">
             </div>
             <br />
             <div class="form-group">
                <label >Cnpj: </label>
                <input type="text" class="form-control" name="txtCnpj" placeholder="Digite um cnpj válido">
             </div>
             <br />
             <div class="form-group">
                <label >Carga de trabalho diária da oficina: </label>
                <input type="text" class="form-control" name="txtCarga" placeholder="Digite a carga de trabalho diária">
             </div>
             <br />
             <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control" name="txtSenha" placeholder="Digite uma senha">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Criar Oficina</button>
        </form>
    </body>
</html>
