@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Oficina Leônidas!</h1>
    <p>O que deseja?</p>
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CriarOficina">Criar Oficina</a></button>
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AgendarServico">Agendar Serviço</a></button>
</div>
